h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(0, 183, 255);
}

h2 {
  text-align: left;
  font-family: sans-serif;
}

p {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.principal {
  font-family: sans-serif;
}

form {
  padding-top: 20px;
  text-align: center;
}

#btnCalc,
#btnLimpar {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 14px;
  border-radius: 12px;
}

.saidas {
  text-align: center;
  padding-top: 20px;
}

footer {
  padding: 20px;
  font-family: sans-serif;
  text-size: 10px;
  text-align: center;
  background-color: rgb(0, 183, 255);
}

#balanca {
  width: 1400px;
  height: 400px;
  max-width: 100%;
}

.fb-like {
  padding-top: 20px;
  scroll-padding: initial;
  max-width: 100%;
}
